@media all and (max-width: 670px) {
  .top-wrapper h1 {
    font-size: 2rem;
  }

  .top-wrapper p {
    font-size: 1rem;
  }

  .header-kiri {
    font-size: 0.85rem;
    letter-spacing: 0.18rem;
  }

  .header-kanan {
    font-size: 0.68rem;
    margin-left: 55px;
  }

  .header-kanan a {
    margin-left: 3px;
  }

  .dot {
    height: 5px;
    width: 5px;
    margin-left: 0;
  }

  .mid-wrapper {
    padding: 20px;
  }

  .mid-wrapper h1 {
    font-size: 1.5rem;
  }

  .mid-wrapper p {
    font-size: 0.8rem;
  }

  .bottom-wrapper h1 {
    font-size: 1.5rem;
  }

  .bottom-image {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .image p {
    padding: 10px;
  }

  input,
  textarea {
    width: 70%;
  }

  .footer-kiri {
    letter-spacing: 5px;
    font-size: 1rem;
  }
}
